<h1>List Of Employees</h1>

<ul>
    <% @employees.each do |employee| %>
    <li><%= link_to employee.first_name + " " + employee.last_name, employee_path(employee) %></li>
    <% end %>
</ul>

<%= button_to 'Add Employee', new_employee_path(), method: :get %>
